* {
    margin: 0;
    padding: 0;
    

}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}




nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

nav img {
    width: 100px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

/* Desktop menu */
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.contact-li-btn {
    background-color: #ea7f3b;
    border-radius: 5px;
    padding: 5px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    margin: auto;
    background: #ffff;
    display: block;
    transition-duration: 0.4s;
}

/* Toggle icon hidden on desktop */
.navbar-menu-toggle {
    display: none;
}

/* CLOSE BUTTON (X) */
#closeBtn {
    display: none;
}

.text-box {
    text-align: center;
    color: white;
}

.text-box p {
    margin: 10px 0 40px;

}


.hero-btn {
    color: white;
    border: 1px solid #fff;
    border-style: inset;
    text-decoration: none;
    padding: 12px 34px;
    font-size: 12px;
    position: relative;
    background: transparent;
    cursor: pointer;
}


.hero-btn:hover {
    border: 1px solid #80daeb;
    background: #80daeb;
    transition: 1s;
}


/*Feauture project home*/

.home-featured-pro {
    background-color: #f9f9f9;
    padding: 25px;
}

.featured-rows {
    margin-bottom: 10px;

}

.featured-pro-row {
    background-color: #fff;
    flex-basis: 31%;
    padding: 20px 12px;
    border-radius: 12px;
    box-sizing: border-box;
    transition: 0.5s;
    padding: 15px;
    font-size: 15px;

}

.featured-pro-row:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.a-head {
    font-size: 18px;
    padding: 10px;
}

.para-fe {
    color: #777;
    display: inline-flex;
}

.calander {
    font-size: 15px;
    color: #777;
    margin: 20px;
}

.calander .para-fe-pro {
    display: inline;
    padding-top: 10px;
}

.fe-btn {
    color: #fff;
    background-color: blue;
    font-size: 11px;
    border: none;
    padding: 5px;
    border-radius: 20px;
    margin-left: 300px;

}

.fe-btn:hover {
    background-color: #1D232C;
}

.fe-btn-one {
    background-color: green;
}

.fe-btn-two {
    background-color: red;
}

.home-pro-btn {
    background-color: blue;

}

.project-btn {
    margin: 20px auto;
    background-color: #131cc4;
    color: #fff;
    text-decoration: none;
    padding: 11px;
    border-radius: 5px;
    position: relative;
    left: 45%;

}

.project-btn:hover ,
.fe-btn:hover{
    background-color: #1D232C;
     transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}


/*service home*/
.service-head {
    text-align: center;
    margin-top: 10%;
}

.para {
    color: #777;
    text-align: center;
}

.home-service {
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.s-para {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center;
}

.s-head {
    text-align: center;
    margin: 10px 0;
    font-weight: 600px;
}


.Service-content-one {
    flex-basis: 31%;
    padding: 20px 12px;
    border-radius: 12px;
    background-color: #f1f2f4;
    box-sizing: border-box;
    transition: 0.5s;
    overflow: hidden;
    padding: 0px;

}

.Service-content-one:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);

}

.service-img img {

    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.Service-content-one:hover img {
    transform: scale(1.05);
}

/*Testimonials*/
.testimonials{
    width: 80%;
    text-align: center;
    padding-top:100px ;
    margin: auto;
}

.testimonials p{
    margin-bottom: 5%;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #d2e3ff;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left:5px ;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col  p{
    padding: 0;
}

.testimonial-col h3{
    margin-top: 15px;
}



/*___________________________________about us________________________________*/
.about-us {

    margin: auto;
    width: 80%;
    padding-top: 80px;
    padding-bottom: 50px;

}

.about-col {
    flex-basis: 48px;
    padding: 30px 2px;

}

.about-col p {
    color: #777;
    padding: 15px 0 25px;
    text-align: left;
}

.about-col img {
    width: 50%;
}

.list-items {
    padding-bottom: 10px;
}

.about-list {
    position: absolute;
    left: 65%;
    top: 90%;

}

.blue-btn {
    border: 1px solid #1b1b1b;
    background: transparent;
    color: #1b1b1b;
}

.blue-btn:hover {
    color: #fff;
}

.home-about-list ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 items per row */
    gap: 20px 100px;
    max-width: 950px;
    /* keeps list centered */
    margin: 0 auto;
    /* center the list */
}

.about-para {
    padding: 100px;
}

.home-about-list ul li {
    padding: 28px;
    border-radius: 8px;
    font-size: 15px;
}

.home-about {
    background-color: #f9f9f9;
    padding: 25px;
    margin-bottom: 35px;

}

.our-mission {
    border: 1px solid #c8c7c7;
    border-radius: 10px;
    background-color: #ffff;
    margin: 80px auto;
    padding: 30px;
    font-size: 14px;
    width: 90%;
    position: relative;
    max-width: 900px;


}

.a-head,
.a-para {
    text-align: left;


}

/*__________________________shop material page__________________________________*/

/*Table*/
.material-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.material-table th,
.material-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.material-table th {
    background-color: #f4b41a;
    color: #000;
}

.material-table tr:hover {
    background-color: #f9f9f9;
}

/*body*/
.material-section {
    margin-top: 20px;

}

.material-search {
    width: 80%;
    border: solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.material-search input {
    outline: none;
}

.material-search input:focus {
    border: none;
    background-color: transparent;
    width: 100%;
}

.materials {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.materials-box {
    text-align: center;
    flex-basis: 20%;

}

.materials-box img {
    border-radius: 10px;
    width: 150px;
}


/*_______________________________________SERVICE PAGE ________________________________________*/


/* Service Cards */
.service-section{
    padding: 60px 10%;
}

.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
}

.service-card{
    background: #fff;
    padding: 35px 25px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.service-card i{
    font-size: 40px;
    color: #009688;
    margin-bottom: 15px;
}

.service-card h3{
    margin-bottom: 10px;
    font-weight: 600;
}

.service-card p{
    font-size: 14px;
    color: #555;
}

/* Hover Effect */
.service-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.head-of-service {
    width: 100%;
    min-height:100vh ;
    background-color: #c8e8e0;

}

.head-of-service h2 {
    text-align: center;
    padding-top: 30px;

}

.head-of-service h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 45px;
    font-weight: 400;
}

.service-head-row {
    max-width:1000px;
    width:80%;
    margin:auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Service-content-box:hover {
    transform: translateY(-5px) scale(1.02);
}


.Service-content-box {
    width: 320px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
      
}


.servicetitleone {
    background-color: black;
    color: blue;
    margin-top: 50px;
    padding: 15px;
    font-size: 40px;
}

.servicetitletwo {
    text-align: center;
    margin-top: 30px;
    font-weight: 1000;
    font-style: italic;
}


.content img {
    border-radius: 10px;
    width: 380px;
    transition: var(--transition);
}

.service-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.content img:hover {
    transform: scale(1.1);
}
.service-content-box {
    transition: 0.3s ease;
}


.content p {
    text-align: center;
    margin: 10px;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5;
}


.service-content {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}




/*________________________________contact page______________________*/
.contact-header{
    padding: 80px 10%;
    background: #c8e8e0;
}


.home-contact-page {
    padding: 60px 10%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

}
.home-form{
    background-color:none;
}


.submit-btn {
    padding: 10px 30px;
    background-color: #ea7f3d;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 1s;

}

.submit-btn:hover {
    color: black;
    cursor: pointer;
    background: transparent;
    border: 1px solid black;
}

.home-contact-page {
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px;

}

.home-contact-page {
    padding: 20px;
}

.home-contact-page p {
    color: #777;
}

.contactUs-head h1 {
    padding-top: 30px;
}

.contactUs-head p {
    padding-top: 30px;

}

.contact-page {
    background-color: black;
    display: inline-block;
    margin-top: 30px;
    color: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.contact-details {
    color: white;
    padding: 20px;
}

.contact-detail {
    padding-bottom: 20px;
}

/* CONTACT INFO */
.contact-info{
    flex: 1;
    margin-left: 20%;
    margin-top: 5%;

}

.contact-info p{
    margin: 15px 0;
    font-size: 15px;
}

.contact-info i{
    color: #009688;
    margin-right: 10px;
}

.contact-social i{
    font-size: 22px;
    margin-right: 15px;
    cursor: pointer;
}
.contact-social i:hover{
    color: blue;
}

/*GOOGLE MAP*/
.location-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10%;
    margin-bottom: -1%;
    background-color: #3a4658;
    border: 5px solid black;
}

.box {
    max-width: 600px;
}

.box h1 {
    font: size 5em;
    color: white;
}

.box p {
    font-size: 1.2em;

}

iframe {
    border-radius: 1em;
    border: 5px solid black;
    width: 400px;
    height: 400px;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}


iframe:hover {
    transform: scale(1.1);
    opacity: 1;

}



/*______________________________project_________________________________*/

.sub-pro-head {
    text-align: center;
    padding: 15px;
}

.sub-pro-head p {
    padding: 15px;
}


.pro-btn-one {
    color: black;
    cursor: pointer;
    background: transparent;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px;
    border: 1px solid black;
    transition: 0.5S;
    margin-left: 5px;

}

.pro-btn {
    cursor: pointer;
    background: black;
    color: white;
    border-radius: 0cap5px;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
}

.pro-btn-one:hover {
    background: #2e5e98;
    color: #fff;
    border: none;

}

.pro-btn:hover {
    background-color: #1b1b1b;
}

.pro-details {
    display: flex;
    text-align: center;
    background: #1D232C;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
}

.pro-detail {
    color: #fff;
    font-size: 20px;
    padding-left: 10%;

}

.pro-content {
    margin: 20px;
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.pro-para {
    text-align: center;
}


.arrow {
    color: #777;
    font-size: 30px;
    position: relative;
    top: 100px;
}



/*Featured Projects home*/

.featured-project-contents {
    padding: 25px;
    background-color: #f9f9f9;
}

.featured-project-rows {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.featured-project-one {
    margin-bottom: 20px;

}

.featured-project-one:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}

.featured-pro-btns {
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    cursor: pointer;

}

.featured-pro-btn {
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 20px;
    background-color: #ea7f3d;
    color: white;
    border: none;
    cursor: pointer;
}

.fe-project-pa {
    color: #777;
    font-size: 15px;
}

.fe-pro-contents {
    padding: 10px;
}


.short-text {
    width: 100%;
    min-width: 0;
    display: -webkit-box;
    -webkit-box-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.featured-pro-plusebtn {
    background: transparent;
    color: #100c08;
    border: 1px solid #777;
    margin-bottom: 10px;
    cursor: pointer;

}

.fe-project-pa {
    /* two lines */
    line-height: 1.5;
    max-height: calc(1.5em * 2);
    overflow: hidden;
    position: relative;
}

.View-detail-btn {
    border: none;
    padding: 5px 10px;
    margin: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.View-detail-btn:hover {
    background-color: red;
    color: #ffff;
}
.footer-icon-container i{
    cursor: pointer;

}
.footer-icon-container i:hover{
    color: #f4b41a;
    transform: scale(1.2);
}
/*footer*/
.footer-box-1 {
    text-align: center;
    background-color: #1b1b1b;
    color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*-------------------------------- MOBILE VIEW -------------------------------*/

@media(max-width:700px) {

    /*home feature */
    .our-mission {
        margin: 30px auto;
        padding: 20px;
        font-size: 13px;
        bottom: 0;
        position: static;
    }

    .featured-pro-row {
        margin-bottom: 20px;
    }


    .home-about-list ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .pro-contents {
        flex-direction: row;
        /* horizontal layout */
        justify-content: center;
    }

    .pro-row {
       margin-left: 75px;
       justify-content: center;
    }

    .service-row {
        flex-direction: column;
        /* stack vertically */
         text-align: center;
       
    }

    .arrow {
        display: none !important;
        /* hide arrow on mobile */
    }

    .pro-details {
        display: block;
    }

    .home-service {
        flex-direction: column;
    }

    .Service-content-one {
        margin-bottom: 20px;
    }

    .about-list {
        position: relative;
        left: 10%;

    }

    /*service head*/
  
    .service-head-row,
    .service-content  {
    justify-content: center;
}

    .Service-content-box {
        margin-bottom: 15px;
    }

   
    .about-para {
        padding: 40px;
    }

    .nav-links {
        position: absolute;
        background: #100c08;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        padding-top: 50px;
        transition: 0.8s;
        z-index: 5;
    }

    .nav-links ul li {
        display: block;
        padding: 20px;
    }

    /* SHOW close X button */
    #closeBtn {
        display: block;
        font-size: 20px;
        color: white;
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
    }

    /* SHOW toggle button */
    .navbar-menu-toggle {
        display: block;
        font-size: 25px;
        color: white;
        cursor: pointer;
    }

    /*project*/
    .featured-project-rows {
        flex-direction: column;
    }
    /*Contact page*/
    .location-section iframe{
        width: 200px;
        height: 200px;
        margin: 5%;
    } 
    .contact-page{
        width: 380px;  
    }
   
 
    .location-section {
    display:block;
    padding: 10%;
}

.testimonial-col img{
    margin-left: 0px;
    margin-left: 15px;
}
}


/*--------------------------All pages head Section ---------------------*/

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
        url('../images/construction-site.webp');
    background-position: center;
    background-size: cover;
    position: relative;
}
.about-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../images/abouttitle.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffff;
}

.Service-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../images/Service.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffff;
}

.project-main-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../images/New-Projects.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffff;
}

.Material-main-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../images/Material.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffff;
}

.contactUs-main-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../images/ContactUs.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffff;
}